.buscador{
  background-color: #b00215;
}

.boton-buscador:hover{
  transition: all .2s;
  transform: scale(1.05);
  background-color: #f89d13 !important;
}

.input-buscador{
  width: 60vh;
  font-size: 3vh;
}

@media (min-width: 768px) and (max-width: 991.98px){
  .input-buscador{
    width: 50vh;
    font-size: 2vh;
    padding: 7px!important;
  }
  .buscador{
    padding: 10px!important;
  }
}

@media (max-width: 767.98px){
  .input-buscador{
    width: 30vh;
  }
}