.title-productosdestacados{
  color: #b00215;
}

.titulo-destacados{
  font-size: 4vh;
  height: 9vh;
  word-wrap: break-word;
}

.descripcion-destacados{
  font-size: 3vh;
  height: 15vh;
  word-wrap: break-word;
}


@media (max-width: 767.98px) {
  .card-producto{
    width: 35% !important;
  }
  .div-margin-moviles{
    flex-wrap: wrap;
   }
   .titulo-destacados{
    font-size: 2.5vh;
    height: 4vh;
  }
  .descripcion-destacados{
    font-size: 2vh;
    height: 12vh;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  .card-producto{
    width: 25% !important;
  }
  .div-margin-moviles{
    flex-wrap: wrap;
  }
  .titulo-destacados{
    font-size: 2.4vh;
    height: 4vh;
  }
  .descripcion-destacados{
    font-size: 2vh;
    height: 12vh;
  }
    }