.title-productosdestacados{
  color: #b00215;
  text-shadow: 2px 3px 9px #000000;
}

.titulo-destacados{
  font-size: 4vh;
  height: 9vh;
  word-wrap: break-word;
}

.descripcion-destacados{
  font-size: 3vh;
  word-wrap: break-word;
  height: 55%;
}

.card-productodestacado{
  height: auto;
}


@media (max-width: 767.98px) {
  .div-margin-moviles{
    flex-wrap: wrap;
   }
   .titulo-destacados{
    font-size: 2.2vh;
  }
  .descripcion-destacados{
  font-size: 1.9vh;
  word-wrap: break-word;
  height: 50%;
  }
  .card-producto{
    height: 60vh;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  .card-producto{
    width: 35% !important;
  }
  .div-margin-moviles{
    flex-wrap: wrap;
  }
  .titulo-destacados{
    font-size: 2.4vh;
    height: 4vh;
  }
  .descripcion-destacados{
    font-size: 2vh;
    height: 12vh;
  }
    }