.login-page{
  height: 90vh;
  background-image: url(https://images.pexels.com/photos/2379652/pexels-photo-2379652.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
}

.text-login{
  text-shadow: 3px 2px 5px rgb(0, 0, 0);
}