.modal-descripcion{
  background-color: #7fab1f;
}

.btn-modal-descripcion{
  background-color: #b00215 !important;
}

.card-producto{
  box-shadow: -1px 3px 6px 0px rgba(0,0,0,0.75);
  width: 200px;
}

.cardventa-titulo{
  font-size: 3.3vh;
  word-wrap: break-word;
  height: 10vh;
}

.cardventa-descripcion{
  height: 25vh;
  word-wrap: break-word;
}

.card-productoventa{
  width: 100%;
}

.text-precio{
  box-shadow: none !important;
  background-color: none !important;
}

@media (max-width: 767.98px) {
  .cardventa-titulo{
    margin: 1px !important;
    font-size: 4vh;
    margin: 1px 0px !important;
   }
   .text-categoria{
    font-size: 3vh;
   }
   .text-precio{
    font-size: 4vh;
   }
   .card-producto{
    width: 200px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
 .cardventa-titulo{
  font-size:3.2vh;
 }
 .text-categoria{
  font-size: 2.5vh;
  height: 3.5vh;
 }
 .text-precio{
  font-size: 3.2vh;
  font-size: 3.5vh;
 }
 .card-productoventa{
  height: 53vh;
}
.card-producto{
  width: 275px !important;
}
  }