.card-producto{
  box-shadow: -1px 3px 6px 0px rgba(0,0,0,0.75);
}

.cardventa-titulo{
  font-size: 3.3vh;
  word-wrap: break-word;
}

.cardventa-titulo{
  height: 10vh;
}

.cardventa-descripcion{
  height: 15vh;
  word-wrap: break-word;
}
@media (max-width: 767.98px) {
  .cardventa-titulo{
    margin: 1px !important;
    font-size: 2.2vh;
    margin: 1px 0px !important;
   }
   .cardventa-descripcion{
    font-size: 1.8vh;
  word-wrap: break-word;
  height: 45%;
   }
   .card-productoventa{
    height: auto;
    padding: 0.5px!important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
 .cardventa-titulo{
  font-size: 2.4vh;
  height: 4vh;
 }
 .cardventa-descripcion{
  font-size: 2vh;
  height: 12vh;
 }
 .card-productoventa{
  height: 53vh;
}
   }
