.title-stevia{
  font-size: 40px;
}

.text-intro-stevia{
  font-size: 25px ;
}

.link-stevia-page{
  font-size: small;
}

@media (max-width: 767.98px){
  .title-stevia{
    font-size: 35px;
  }
  .text-intro-stevia{
    font-size: 20px;
  }
}