.navbar{
  background-color: #ba181b;
}

.boton-buscador{
  transition: .2s;
}

.boton-buscador:hover{
  background-color: #bf0603;
  color: aliceblue;
}

@media (max-width: 767.98px){
  .navbar{
    font-size: large;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){

}
