.navbar-completo{
  background-color: #ba181b;
}

.boton-buscador{
  transition: .2s;
}

.boton-buscador:hover{
  background-color: #bf0603;
  color: aliceblue;
}

@media (max-width: 767.98px){
  .navbar{
    font-size: large;
  }
  .navbar-completo{
    padding-top: 7vh!important;
  }
}
