.carousel-padre{
height: 80vh;
}

.banner-carousel{
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 13%;
  }

@media (min-width: 768px) and (max-width: 991.98px){
.carousel-padre{
  height: 35vh;
}
.banner-carousel{
  width: 90%;
  top: 20%;
  left: 5%;
}
}

@media (max-width: 767.98px) {
  .carousel-padre{
    height: 30vh;
  }
.banner-carousel{
  width: 90%;
  top: 20%;
  left: 5%;
}
}