.barra-contacto{
  background-color: #bf0603;
}

@media (max-width: 767.98px){
  .div-contacto{
    flex-direction: column-reverse;
    align-items: center;
  }
  .iconos-redes{
    justify-content: center !important;
  }
  .icono{
    width: 100px !important;
    height: 100px;
  }
}