.barra-contacto{
  background-color: #bf0603;
}

@media (max-width: 767.98px){
  .div-contacto{
    flex-direction: column-reverse;
    align-items: center;
  }
  .contacto-items{
    display: block !important;
  }
  .iconos-redes{
    width: 100% !important;
  }
  .mapa{
    width: 100%;
    height: 40vh;
    justify-content: center;
    padding: 8px;
  }
}