.height-pedidos{
    height: auto;
  }

  .input-center{
    margin: 0px auto;
  }

  .text-mipedido{
    font-size: 3.3vh;
  }

  .select-pago{
    width: 30%;
    text-align: center;
  }

  @media (min-width: 768px) and (max-width: 991.98px){
    .input-pedido{
      width: 100% !important;
    }
    .text-mipedido{
      font-size: 2vh;
    }
    .form-datospersonales{
      display: table !important;
      margin-left: 50px;
      margin-right: 50px;
    }
    .inputs-datospersonales{
      width: 100% !important;
      justify-content: center !important;
    }
  }

@media (max-width: 767.98px) {
  .form-width{
    width: 70vh !important;  
  }
  .height-pedidos{
    height: auto;
  }
  .celular{
    display: table !important;
  }
  .form-datospersonales{
    display: table !important;
  }
  .input-pedido{
    width: 100% !important;
    font-size: 2vh;
  }
  .select-pago{
    width: 60%;
  }
}