@font-face {
  font-family: Title ;
  src: url(assets/fonts/Chalfont\ W00\ Extra\ Bold.ttf);
}

@font-face {
  font-family: Body;
  src: url(./assets/fonts/Cabin-VariableFont_wdth\,wght.ttf);
}

body{
  font-family: Body;
}

h1,h2,h3{
  font-family: Title;
}