.clientes{
  height: 90vh;
}

.title-clientes{
  color: #cc0000;
}

.image-marcas{
  width: 25%;
  height: 25%;
  position: relative;
  }

.card-testimonio{
  position: absolute;
    top: 300%;
    left: 25%;
    box-shadow: 1px 2px 10px #000000;
}

.card-testimonio:hover{
    transition: none;
    transform: none;
}

.nombre-cliente{
  font-family: Title;
}

@media (min-width: 768px) and (max-width: 991.98px){
  .clientes{
    height: auto;
  }
  .card-testimonio{
      width: 21vh;
      top: 350%;
      left: 0%;
  }
  .title-clientes{
    padding-bottom: 20px;
  }
}

@media (max-width: 767.98px){
  .clientes{
    height: auto;
  }
  .image-marcas{
    width: 120px;
    display: grid !important;
  }
  .card-testimonio{
    width: 14vh;
    top: 90%;
  left: 1%;
}
.texto-testimonio{
  padding: 4px;
}
.nombre-cliente{
  font-size: 2.5vh;
}
}
